.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5rem;
}

.about_card {
  padding: 1rem;
}

.photo {
    padding: 1.5rem;
    border-radius: 9px;
    background-color: black;
}
